[Unit]
WantedBy=multi-user.target
After=basic.target network.target system.slice systemd-journald.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "echo hello"